body {
  display: flex;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: hidden;
}

.hidden {
  display: none;
}

.canvas {
  background-color: white;
  width: 100%;
  overflow: auto;
  height: 100%;
}

.canvas--hidden {
  visibility: hidden;
}

.canvas--window canvas {
  width: 100%;
  height: 100%;
}

.checker-output {
  padding: 2rem;
  background-color: white;
}

.output-container {
  display: flex;
  width: 265px;
  margin-bottom: 2rem;
}

.output-left,
.output-right {
  padding: 1rem;
  text-align: center;
}

.left-normal,
.right-normal {
  font-size: 14px;
}

.left-largebold,
.right-largebold {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 18.66px;
  font-weight: 700;
}

.left-large,
.right-large {
  font-size: 24px;
}

.output-contrast {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #f5f5f5;
}

.output-contrast span {
  font-weight: 700;
}

.output-results {
  text-align: center;
}

.results-normal-title,
.results-large-title {
  border-bottom: 1px solid #ECECEC;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.75;
  padding-top: 2rem;
  padding-bottom: 0.75rem;
  color: #b8b8b8;
}

.results-normal,
.results-large {
  padding: 1rem;
}

.results-normal-aa,
.results-large-aa {
  padding-bottom: 1rem;
}

select {
  color: black;
  font-size: 14px;
  font-weight: 600;
  border: 2px solid black;
  padding: 0 1.25rem 0 0.5rem;
  width: 100%;
  height: 29px;
  -webkit-appearance: none;
  background: url('arrows.png') no-repeat;
  background-position: 124px 4px;
  background-color: white;
  background-size: 18px
}

select:focus {
  outline: none;
}

select::after {
  content: '';
  position: absolute;
}


.sidebar {
  min-width: 220px;
  width: 220px;
  height: 100%;
  background-color: #F5F5F5;
  border-left: 2px solid #ECECEC;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-top {
  max-height: 624px;
}

.nav {
  display: flex;
  height: 56px;
  background-color: #E5E5E5;
}

.nav__item {
  position: relative;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 12px;
  font-weight: 500;
  background-color: #E5E5E5;
  transition: background-color 0.15s ease;
}

.nav__item::before {
  content: '';
  position: absolute;
  width: 100%;
  background: transparent;
  height: 6px;
  bottom: 0;
}

.nav__item--selected {
  background-color: #F5F5F5;
}

#ColorNav::before {
  content: '';
  position: absolute;
  width: 100%;
  background: black;
  height: 4px;
  bottom: 0;
  transform: translateX(0);
  transition: transform 0.15s ease-in-out;
  z-index: 100;
}

#ColorNav.not-selected::before {
  transform: translateX(100%);
}

.nav__item svg {
  fill: black;
  height: 1.25rem;
  margin-bottom: 0.25rem
}

.fade-out-left {
  animation: 0.1s fade-out-left ease-in-out;
}

.fade-out-right {
  animation: 0.1s fade-out-right ease-in-out;
}

.fade-in-left {
  animation: 0.1s fade-in-left ease-in-out;
}

.fade-in-right {
  animation: 0.1s fade-in-right ease-in-out;
}

.step {
  margin-top: 36px;
  margin-bottom: 36px;
  margin-right: 36px;
  margin-left: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step__number {
  color: white;
  background-color: black;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step__instructions {
  font-size: 12px;
  color: black;
  text-align: center;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  font-weight: 600;
}

.button__export {
  background-color: white;
  color: black;
  border-radius: 4px;
  border: 2px solid black;
  width: 100%;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-weight: 800;
  font-size: 14px;
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

.button__export:focus {
  outline: none;
}

.button__export:hover {
  background-color: black;
  color: white;
}

.button__export:active {
  transform: scale(0.95);
}

.button__check {
  background-color: white;
  color: black;
  border-radius: 4px;
  border: 2px solid black;
  width: 100%;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-weight: 800;
  font-size: 14px;
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

.button__check:focus {
  outline: none;
}

.button__check:hover {
  background-color: black;
  color: white;
}

.button__check:active {
  transform: scale(0.95);
}

.info__logo {
  text-align: center;
}

.info__logo > svg {
  height: 20px;
  width: 20px;
  margin-bottom: 0.5rem;
  fill: #F5F5F5;
  background: #D5D5D5;
  border-radius: 6px;
  transition: background-color 0.15s ease-in-out, fill 0.15s ease-in-out;
}

.info__logo:hover > svg {
  background-color: black;
  fill: white;
}

.info__version {
  text-align: center;
  font-size: 12px;
  color: #C9C9C9;
  font-weight: 600;
  margin-bottom: 16px;
}

.fail {
  width: 1rem;
  fill: red;
  margin-right: 0.5rem;
}

.pass {
  width: 1.25rem;
  fill: green;
  margin-right: 0.5rem;
}

#ResultsLargeAaaFail {
  margin-left: 1.5rem;
}

#ResultsLargeAaaPass {
  margin-left: 1.25rem;
}

#ResultsNormalAaFail {
  margin-left: 0.25rem;
}

#ResultsNormalAaPass {
  margin-left: 0.5rem;
}

@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translateX(1.5rem);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(-1.5rem);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-out-left {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(1.5rem);
  }
}

@keyframes fade-out-right {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(-1.5rem);
  }
}
